.mb24 {
  margin-bottom: 24px;
}

.mb8 {
  margin-bottom: 8px;
}

.minW3 {
  min-width: 300px;
}

.minW8 {
  min-width: 800px;
}

.pagiantion {
  float: right;
}

.light {
  border: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  box-shadow: 0px 0px 3px 1px #888888;
}

.green {
  background: green;
}

.red {
  background: red;
}
